
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MyShop Auto</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Products", "Products", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="welcome-bottom">
                <div class="container">
                    <div class="welcome-bottom-text">
                        <div class="col-md-6 welcome-bottom-text-left">
                            <h3><span> Googel Play <span></h3>
                            <a href="#"><img src="https://www.myshopauto.com/dealerapp/images/gplay.png"></a>
                            <a href="#"><img src="~/Content/images/QR_AND.jpg" style="width:200px"></a>
                            <p>
                                <b>Requirements:</b><br>Requires Android 2.3 and higher. WiFi, Edge, or 3G network connection sometimes required.
                            </p>
                        </div>
                        <div class="col-md-6 welcome-bottom-text-right">
                            <h3><span>App Store<span></h3>
                            <a href="#"><img src="https://www.myshopauto.com/dealerapp/images/appstore.png"></a>
                            <a href="#"><img src="~/Content/images/QR_IOS.png" style="width:200px"></a>
                            <p><b>Requirements:</b><br>Compatible with iPhone and iPod touch. Requires iPhone OS 2.2 or later. WiFi, Edge, or 3G network connection sometimes required.</p>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>

        </footer>
    </div>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/menu")


    @RenderSection("scripts", required: false)
</body>
</html>
