@{
    ViewBag.Title = "Settings";
}

<script>
    $(document).ready(function () {
        //Re-load records when user click 'load records' button.


        $('#DealerStickerOrder').jtable({
            title: 'STICKER ORDERS',
            paging: false, //Enable paging

            sorting: false,
            selecting: true,
            multiselect: false,
            messages: {
                addNewRecord: ' Order Sticker ',
                editRecord: ' Edit Order',
            },
            actions: {
                listAction: '@Url.Action("SelStickerOrderMaster", "Home")',
                updateAction: '@Url.Action("UpdtUpsertStickerOrder", "Home")',
                createAction: '@Url.Action("InsUpsertStickerOrder", "Home")',
            },
            fields: {

                DealerId: { title: "DealerId", width: "1%", key: true, visibility: 'hidden' },
                StickerOrderMasterId: { key: true, visibility: 'hidden' },
                EnteredBy: { visibility: 'hidden', create: false, edit: false },
                UpdatedBy: { visibility: 'hidden', create: false, edit: false },
                MV46Qty: { title: "MV46 Qty" },
                MV46Cost: { title: "MV46 Cost", create: false, edit: false },
                IMQty: { title: "IM Qty" },
                IMCost: { title: "IM $", create: false, edit: false },
                AIQty: { title: "AI Qty" },
                AICost: { title: "AI $", create: false, edit: false },
                AOQty: { title: "AO Qty" },
                AOCost: { title: "AO $", create: false, edit: false },
                SIQty: { title: "SI Qty" },
                SICost: { title: "SI $", create: false, edit: false },

                TotalPayment: { title: "Total $", create: false, edit: false },
                BatchNo: { title: "BATCH" },
                OrderStatusId: {
                    title: 'Status', create: false,
                    options: '@Url.Action("StickerStatusList", "Home")'

                },
                EnteredDt: {
                    title: 'Order Dt', type: 'date',
                    displayFormat: 'mm/dd/yy',
                    create: false,
                    edit: false,
                },
                EnteredName: { title: 'Ent. By', create: false, edit: false },
                ModifiedName: { title: 'Mod. By', create: false, edit: false }
            },
            recordsLoaded: function (event, data) {
                if (data.records.length == 1) {
                    $('#hidOrderId').val(data.records[0].StickerOrderMasterId);
                }
                $('#btnPrint').prop('disabled', true);

            },
            selectionChanged: function () {
                //Get all selected rows
                // alert('dd');
                var $selectedRows = $('#DealerStickerOrder').jtable('selectedRows');

                $('#SelectedRowList').empty();
                if ($selectedRows.length > 0) {
                    //Show selected rows
                    $selectedRows.each(function () {
                        var record = $(this).data('record');
                        $('#hidOrderId').val(record.StickerOrderMasterId);
                        $('#txtMV46RcvdQty').val(record.MV46Qty);
                        $('#txtIMRcvdQty').val(record.IMQty);
                        $('#txtAIRcvdQty').val(record.AIQty);
                        $('#txtAORcvdQty').val(record.AOQty);
                        $('#txtSIRcvdQty').val(record.SIQty);

                        $('#txtMV46OrdQty').text(record.MV46Qty);
                        $('#txtIMOrdQty').text(record.IMQty);
                        $('#txtAIOrdQty').text(record.AIQty);
                        $('#txtAOOrdQty').text(record.AOQty);
                        $('#txtSIOrdQty').text(record.SIQty);


                        $('#lblOrderNum').text(record.StickerOrderMasterId);
                        var date_str = $.datepicker.formatDate("mm/dd/yy", new Date(parseInt(record.EnteredDt.substr(6), 10)));

                        $('#lblOrderDate').text(date_str);
                        $('#lblBatchNumber').text(record.BatchNo);

                        $('#btnPrint').prop('disabled', false);

                    });
                } else {
                    //No rows selected
                    $('#SelectedRowList').append('No row selected! Select rows to see here...');
                }
            },
            recordUpdated: function (event, data) {
                $('#DealerStickerOrder').jtable('load');
            },
            recordAdded: function (event, data) {
                $('#DealerStickerOrder').jtable('load');

            },
        });


        $('#DealerStickerOrder').jtable('load');
    });

    $(document).ready(function () {
        $(function () {
            $("#dialog-form").dialog({
                autoOpen: false,
                maxWidth: 800,
                maxHeight: 600,
                width: 800,
                height: 600,
                overflow: 'auto',
                modal: true,
                buttons: {
                    "Save": {
                        click: function (obj) {

                            var buttonDomElement = obj.target;
                            $(buttonDomElement).attr('disabled', true);

                            var segments =  $('#txtStickerNum1').val() + $('#txtStickerNum2').val() + $('#txtStickerNum3').val() + $('#txtStickerNum4').val();

                            var data = {
                                username: segments,
                                password: $('#txtAddToInventoryQty').val()
                            };


                            $.ajax({
                                url: '/Home/StickerAddToInventory',
                                type: 'POST',
                                data: JSON.stringify(data),
                                dataType: 'json',
                                contentType: 'application/json; charset=utf-8',
                                error: function (xhr) {
                                    alert('Error: ' + xhr.statusText);
                                },
                                success: function (result) {
                                   // CheckIfInvoiceFound(result);
                                    alert('Success');
                                },
                                async: true,
                                processData: false
                            });


                        },
                        text: 'Save To Inventory',
                        class: 'btn btn-warning',
                        icons: {primary: 'ui-icon-check glyphicon glyphicon-floppy-save'},
                    },
                    "Cancel": {
                        click: function () {
                            $(this).dialog("close");
                        },
                        text: 'Cancel',
                        class: 'btn pull-left'
                    }
                }
            });
        });

        $("#btnMV46AddToStock")
        .button()
        .click(function () {
            $('#txtAddToInventoryQty').val($('#txtMV46RcvdQty').val());
            $('#divAddtoInventoryStickerType').text("MV-46");
            $('#txtStickerNum1').val("MV");
            $("#dialog-form").dialog("open");
        });

        $("#btnIMAddToStock")
         .button()
         .click(function () {
             $('#txtAddToInventoryQty').val($('#txtIMRcvdQty').val());
             $('#divAddtoInventoryStickerType').text("IM");
             $('#txtStickerNum1').val("IM");

             //alert($("txtMV46RcvdQty").val());
             $("#dialog-form").dialog("open");
         });

        $("#btnAI")
         .button()
         .click(function () {
             $('#txtAddToInventoryQty').val($('#txtAIRcvdQty').val());
             $('#divAddtoInventoryStickerType').text("AI");
             $('#txtStickerNum1').val("AI");
             $("#dialog-form").dialog("open");
         });

        $("#btnAO")
         .button()
         .click(function () {
             $('#txtAddToInventoryQty').val($('#txtAORcvdQty').val());
             $('#divAddtoInventoryStickerType').text("AO");
             $('#txtStickerNum1').val("AO");
             $("#dialog-form").dialog("open");
         });

        $("#btnSI")
         .button()
         .click(function () {
             $('#txtAddToInventoryQty').val($('#txtSIRcvdQty').val());
             $('#divAddtoInventoryStickerType').text("SI");
             $('#txtStickerNum1').val("SI");
             $("#dialog-form").dialog("open");
         });




        $('#btnPrepareStickers').click(function () {

            var Seg1 = "MI";
            var Seg2 = "1";
            var Seg234 = $('#txtStickerNum2').val() + $('#txtStickerNum3').val() + $('#txtStickerNum4').val();
            var Seg4 = "000";

            var iMax = $("#txtAddToInventoryQty").val();
            $('#divNewStickersList').empty();
            //alert(Seg234);
            for (i = 0 ; i < iMax ; i++) {
                var iSeg234 = parseInt(Seg234) + i;
                //alert(iSeg3n4);
                var s2 = String(iSeg234).substring(0, 1);
                var s3 = String(iSeg234).substring(1, 4);
                var s4 = String(iSeg234).substring(4, 7);

                $('#divNewStickersList').append($('<li>').text(Seg1 + '-' + s2 + '-' + s3 + '-' + s4));

                //$('#divNewStickersList').append($('<li>').text(String(iSeg234)));
                //$('#divNewStickersList').append($('<li>').text('xx-x-xxx-xxx'));
            }
        });
    });



    //Load  list from server

</script>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading-green clickable">
            <h1 class="panel-title">STICKER ORDER MANAGEMENT  ....</h1>
            <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        </div>
        <div class="panel-body">
            <ol>
                <li>
                    Place the Sticker Order by clicking on Order Sticker Button and Print  Form.
                </li>
                <li>
                   Updated Sticker Inventory after you received. 
                </li>

            </ol>

            <div class="row">
               
                    <div id="DealerStickerOrder"></div>
               


                @using (Html.BeginForm("SaveSticker", "Home", FormMethod.Post))
            {

                    @Html.Hidden("hidOrderId", null, new { @class = "form-control" })

                    <div>
                        *Select the Order to Print.
                    </div>
                        <div class="btn btn-success pull-right">
                            
                            <span class="glyphicon glyphicon-print"></span>

                            <input type="submit" name="btnPrint" id="btnPrint" value="Print MV-436A" class="btn btn-success" />
                        </div>
                }
            </div>
            <hr />
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-green clickable">
                        <h1 class="panel-title">STICKER ORDERS - ADD TO INVENTORY </h1>
                        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    </div>

                    <ol>
                        <li>
                            Select the Sticker Order / Batch from the grid above.
                        </li>
                        <li>
                            Click on each Sticker Type button to save to the inventory.
                        </li>
                      
                    </ol>

                    <div class="panel-body">
                        <div id="dialog-form" title="ADD STICKER TO INVENTORY">
                            <div>
                                <ol>
                                    <li>
                                        Enter the starting number of sticker roll and verify the Quantity.
                                    </li>
                                    <li>
                                        Prepare the Stickers by clicking the Prepare Sticker Button  and Verify.
                                    </li>
                                    <li>
                                        Finally Save To Inventory.
                                    </li>
                                </ol>
                            </div>
                            <table class="table table-inverse">
                                <thead>
                                    <tr class="bg-info">
                                        <td>STICKER TYPE</td>
                                        <td>STARTING NUMBER</td>
                                        <td>RECEIVED QTY</td>
                                        @*<td>ENDING NUMBER</td>*@
                                        <td></td>
                                    </tr>
                                </thead>
                                <tr>
                                    <td><h2><span id="divAddtoInventoryStickerType"></span></h2></td>
                                    <td>
                                        <input type="text" id="txtStickerNum1" style="width:30px" placeholder="XX" value="MI" />-
                                        <input type="text" id="txtStickerNum2" style="width:20px" placeholder="X" value="1" />
                                        <input type="text" id="txtStickerNum3" style="width:40px" placeholder="XXX" value="234" />
                                        <input type="text" id="txtStickerNum4" style="width:40px" placeholder="XXX" value="567" />
                                    </td>
                                    <td><input type="text" value="5" style="width:50px" id="txtAddToInventoryQty" /></td>
                                    @*<td>
                                            <input type="text" id="txtStickerNum5" style="width:30px" placeholder="XX" />-
                                            <input type="text" id="txtStickerNum6" style="width:20px" placeholder="X" />
                                            <input type="text" id="txtStickerNum7" style="width:40px" placeholder="XXX" />
                                            <input type="text" id="txtStickerNum8" style="width:40px" placeholder="XXX" />
                                        </td>*@
                                    <td>
                                        <button id="btnPrepareStickers" class="btn btn-success">
                                            PREPARE STICKERS
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="4">

                                        <ol id="divNewStickersList">
                                            <!-- add LI here -->
                                        </ol>

                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table class="table table-bordered table-inverse">
                            <tr>
                                <td>
                                    Order Number:
                                    <h3><span id="lblOrderNum"></span></h3>
                                </td>
                                <td>
                                    Order Date :
                                    <h3> <span id="lblOrderDate"></span></h3>
                                </td>

                                <td>
                                    BatchNumber :
                                    <h3> <span id="lblBatchNumber"></span></h3>
                                </td>
                            </tr>
                        </table>
                        <hr />
                        <table class="table table-hover">
                            <thead>
                                <tr><td>STICKER TYPE</td><td>ORDERED QTY</td><td>RECEIVED QTY</td><td> ADD TO INVENTORY ?</td></tr>
                            </thead>
                            <tr>
                                <td>MV-46</td>
                                <td><span id="txtMV46OrdQty" /></td>
                                <td><input type="text" style="width:50px" id="txtMV46RcvdQty" /></td>
                                <td>
                                    <div id="btnMV46AddToStock" class="btn btn-success ">
                                        Add MV-46
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>IM</td>
                                <td><span id="txtIMOrdQty" /></td>
                                <td><input type="text" style="width:50px" id="txtIMRcvdQty" /></td>
                                <td>
                                    <button id="btnIMAddToStock" class="btn btn-success "> Add IM </button>
                                </td>
                            </tr>
                            <tr>
                                <td>AI</td>
                                <td><span id="txtAIOrdQty" /></td>
                                <td><input type="text" style="width:50px" id="txtAIRcvdQty" /></td>
                                <td>   <button id="btnAI" class="btn btn-success "> Add AI </button> </td>
                            </tr>
                            <tr>
                                <td>AO</td>
                                <td><span id="txtAOOrdQty" /></td>
                                <td><input type="text" style="width:50px" id="txtAORcvdQty" /></td>
                                <td> <button id="btnAO" class="btn btn-success "> Add AO </button> </td>
                            </tr>
                            <tr>
                                <td>SI</td>
                                <td><span id="txtSIOrdQty" /></td>
                                <td><input type="text" style="width:50px" id="txtSIRcvdQty" /></td>

                                <td> <button id="btnSI" class="btn btn-success "> Add SI </button> </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>